Node-RED-Flows .json
[
    {
        "id": "816ada37.8c4678",
        "type": "tab",
        "label": "Connections",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da06acb9.3e181",
        "type": "tab",
        "label": "TDS, pH, Turbidity Tracker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a73be64d.7908d8",
        "type": "tab",
        "label": "Plot DHT Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e3e89c2.7ebf18",
        "type": "tab",
        "label": "Historical Chart",
        "disabled": false,
        "info": "var bar={};\nbar.labels = [\"20:30:31\",\"20:30:32\",\"20:30:33\",\"20:30:34\",\"20:30:35\",\"20:30:36\",\"20:30:37\"];\nbar.series = ['April','May', 'June','July'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [33, 44, 27, 25, 19, 47, 38],\n    [40, 48, 40, 19, 26, 27, 40],\n    [38, 36, 20, 49, 45, 50, 20],\n    [28, 30, 43, 29, 19, 30, 50]\n  ];\nreturn {payload:[bar]};"
    },
    {
        "id": "46d8ba74.3aa834",
        "type": "ibmiot",
        "z": 0,
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "ee1e3f7.e4f58c",
        "type": "ui_tab",
        "z": "",
        "name": "Current Data",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "df179dce.1283c",
        "type": "ui_tab",
        "z": "",
        "name": "Run Time Data ",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "55e6934a.c4d49c",
        "type": "ui_group",
        "z": "",
        "name": "Current Values",
        "tab": "ee1e3f7.e4f58c",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "af5c85e5.b962e8",
        "type": "ui_group",
        "z": "",
        "name": "Run Time Values ",
        "tab": "df179dce.1283c",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "99994a24.e65fb8",
        "type": "ui_spacer",
        "z": 0,
        "name": "spacer",
        "group": null,
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cf8f2d1.07f50c",
        "type": "ui_tab",
        "z": "",
        "name": "Historical Chart",
        "icon": "fa-area-chart",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72e4b1a5.56d6e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b14f6551.e76cd8",
        "type": "ui_group",
        "z": "",
        "name": "TDS Tracker",
        "tab": "ee1e3f7.e4f58c",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "b5b14b87.e44bb8",
        "type": "cloudant",
        "z": "",
        "host": "https://16ad429e-9d49-4534-afa9-7955a9981991-bluemix:b95ca428fb2cd18ae9106e393f14eb7c45d82fd58bb53c5a04f821607b0e268e@16ad429e-9d49-4534-afa9-7955a9981991-bluemix.cloudant.com",
        "name": "cloudant-xh"
    },
    {
        "id": "d05a3487.8abcd8",
        "type": "ui_group",
        "z": "",
        "name": "Historical Data",
        "tab": "5cf8f2d1.07f50c",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "8a0bc265.f324d",
        "type": "ui_group",
        "z": "",
        "name": "Current Data",
        "tab": "ee1e3f7.e4f58c",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "b1b11140.4e4ef",
        "type": "inject",
        "z": "816ada37.8c4678",
        "name": "",
        "topic": "",
        "payload": "Hello Node-RED!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 148,
        "y": 74.99999809265137,
        "wires": [
            [
                "f2f2649a.0d0d98"
            ]
        ]
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "816ada37.8c4678",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 401,
        "y": 87,
        "wires": []
    },
    {
        "id": "535a4f21.aabcb",
        "type": "inject",
        "z": "da06acb9.3e181",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 111,
        "y": 89.00000476837158,
        "wires": [
            [
                "7f69c472.839bcc"
            ]
        ]
    },
    {
        "id": "2c8c6ff4.805de",
        "type": "function",
        "z": "da06acb9.3e181",
        "name": "Random #s",
        "func": "if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*320);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 461.0000686645508,
        "y": 86.00000190734863,
        "wires": [
            [
                "50972cb4.3f1854"
            ]
        ]
    },
    {
        "id": "24852e04.f0f442",
        "type": "switch",
        "z": "da06acb9.3e181",
        "name": "Hard/Soft water ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "70",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "70",
                "vt": "num",
                "v2": "150",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "150",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "250",
                "vt": "num",
                "v2": "320",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 364.0000457763672,
        "y": 349.0000305175781,
        "wires": [
            [
                "2dd5d1d2.bfc41e"
            ],
            [
                "cb8ac2e3.aeb77"
            ],
            [
                "3a12bffa.a4c83"
            ],
            [
                "d6fa284e.ed60f8"
            ]
        ]
    },
    {
        "id": "2dd5d1d2.bfc41e",
        "type": "template",
        "z": "da06acb9.3e181",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Very Soft Water {{payload}}",
        "output": "str",
        "x": 606.9999961853027,
        "y": 304.00011444091797,
        "wires": [
            [
                "e1a651b7.32988"
            ]
        ]
    },
    {
        "id": "50972cb4.3f1854",
        "type": "link out",
        "z": "da06acb9.3e181",
        "name": "",
        "links": [
            "26b588b8.c7e138"
        ],
        "x": 625.0000123977661,
        "y": 85.0000352859497,
        "wires": []
    },
    {
        "id": "26b588b8.c7e138",
        "type": "link in",
        "z": "da06acb9.3e181",
        "name": "",
        "links": [
            "50972cb4.3f1854"
        ],
        "x": 104.00000190734863,
        "y": 242.00003242492676,
        "wires": [
            [
                "2c8aa442.0e4f6c",
                "f758fbf6.9c9918",
                "3b63a1c2.27c39e",
                "24852e04.f0f442",
                "a2a6f308.6a4c"
            ]
        ]
    },
    {
        "id": "b1bcb58f.8a9868",
        "type": "debug",
        "z": "a73be64d.7908d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 442.0000305175781,
        "y": 80.00000190734863,
        "wires": []
    },
    {
        "id": "7e96a5d3.c10fdc",
        "type": "change",
        "z": "a73be64d.7908d8",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 454.0000686645508,
        "y": 148.99999618530273,
        "wires": [
            [
                "3215ea8b.68c096",
                "caa284bd.05d638"
            ]
        ]
    },
    {
        "id": "42a22f1b.ce0f6",
        "type": "change",
        "z": "a73be64d.7908d8",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 448.0000457763672,
        "y": 253.0000057220459,
        "wires": [
            [
                "478c6862.4845e8",
                "ad4103f0.be998"
            ]
        ]
    },
    {
        "id": "3206ea1d.32f6c6",
        "type": "switch",
        "z": "a73be64d.7908d8",
        "name": "Warn on High Temperature",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 454.00013732910156,
        "y": 350.0000286102295,
        "wires": [
            [
                "455e506c.affc1"
            ]
        ]
    },
    {
        "id": "455e506c.affc1",
        "type": "template",
        "z": "a73be64d.7908d8",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Temperature Detected {{payload.d.temp}}",
        "output": "str",
        "x": 681.9999847412109,
        "y": 351.00009536743164,
        "wires": [
            [
                "19083ada.09fd95"
            ]
        ]
    },
    {
        "id": "f758fbf6.9c9918",
        "type": "ui_slider",
        "z": "da06acb9.3e181",
        "name": "",
        "label": "Slider",
        "tooltip": "",
        "group": "b14f6551.e76cd8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 337.0000286102295,
        "y": 185.0000114440918,
        "wires": [
            []
        ]
    },
    {
        "id": "3b63a1c2.27c39e",
        "type": "ui_text",
        "z": "da06acb9.3e181",
        "group": "b14f6551.e76cd8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 334.0000305175781,
        "y": 233.00001335144043,
        "wires": []
    },
    {
        "id": "2c8aa442.0e4f6c",
        "type": "ui_gauge",
        "z": "da06acb9.3e181",
        "name": "TDS Gauge",
        "group": "b14f6551.e76cd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TDS Gauge",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "320",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 355.0000305175781,
        "y": 133.00000953674316,
        "wires": []
    },
    {
        "id": "3215ea8b.68c096",
        "type": "ui_chart",
        "z": "a73be64d.7908d8",
        "name": "",
        "group": "af5c85e5.b962e8",
        "order": 1,
        "width": 9,
        "height": 4,
        "label": "DHT Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Temperature values of water",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 745.000072479248,
        "y": 128,
        "wires": [
            []
        ]
    },
    {
        "id": "478c6862.4845e8",
        "type": "ui_chart",
        "z": "a73be64d.7908d8",
        "name": "",
        "group": "af5c85e5.b962e8",
        "order": 2,
        "width": 9,
        "height": 4,
        "label": "DHT Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Humidity values of water",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 675.0000267028809,
        "y": 234.99999809265137,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a651b7.32988",
        "type": "ui_toast",
        "z": "da06acb9.3e181",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 827.0000762939453,
        "y": 303.00002574920654,
        "wires": []
    },
    {
        "id": "19083ada.09fd95",
        "type": "ui_toast",
        "z": "a73be64d.7908d8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 865.0000076293945,
        "y": 352.0000467300415,
        "wires": []
    },
    {
        "id": "e41c1046.236a5",
        "type": "cloudant out",
        "z": "816ada37.8c4678",
        "name": "",
        "cloudant": "",
        "database": "storedata",
        "service": "node-red-neomi-cloudant-1587568846722-12806",
        "payonly": false,
        "operation": "insert",
        "x": 463.0001564025879,
        "y": 341.00015926361084,
        "wires": []
    },
    {
        "id": "6f2e9055.dd327",
        "type": "ibmiot in",
        "z": "a73be64d.7908d8",
        "authentication": "boundService",
        "apiKey": "46d8ba74.3aa834",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "868922034694741",
        "applicationId": "",
        "deviceType": "",
        "eventType": "status",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT in",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 169.326416015625,
        "y": 167.4444751739502,
        "wires": [
            [
                "42a22f1b.ce0f6",
                "7e96a5d3.c10fdc",
                "b1bcb58f.8a9868",
                "7deb0fb5.9f0a9",
                "3206ea1d.32f6c6"
            ]
        ]
    },
    {
        "id": "caa284bd.05d638",
        "type": "ui_gauge",
        "z": "a73be64d.7908d8",
        "name": "",
        "group": "55e6934a.c4d49c",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#2700b3",
            "#c7c760",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "25",
        "x": 769.3264465332031,
        "y": 178.28126430511475,
        "wires": []
    },
    {
        "id": "ad4103f0.be998",
        "type": "ui_gauge",
        "z": "a73be64d.7908d8",
        "name": "",
        "group": "55e6934a.c4d49c",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "gm^-3",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#9500e6",
            "#433acb"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 691.3368482589722,
        "y": 286.27779960632324,
        "wires": []
    },
    {
        "id": "a7ca06c.8fa64f8",
        "type": "ibmiot in",
        "z": "816ada37.8c4678",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "status",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT App In",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": false,
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": "0",
        "x": 197.8958282470703,
        "y": 274.0000047683716,
        "wires": [
            [
                "dfa07993.5df218",
                "e41c1046.236a5"
            ]
        ]
    },
    {
        "id": "dfa07993.5df218",
        "type": "debug",
        "z": "816ada37.8c4678",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 446.8958282470703,
        "y": 180.0000057220459,
        "wires": []
    },
    {
        "id": "8027981a.d6d4c8",
        "type": "comment",
        "z": "816ada37.8c4678",
        "name": "Connections for accessing device data on Watson from database on Cloudant",
        "info": "",
        "x": 312.3298645019531,
        "y": 31.42708396911621,
        "wires": []
    },
    {
        "id": "aa73c2f6.050cd",
        "type": "comment",
        "z": "da06acb9.3e181",
        "name": "Checking TDS values of water",
        "info": "",
        "x": 140.33682250976562,
        "y": 33.42013931274414,
        "wires": []
    },
    {
        "id": "9e1b2dd2.ee264",
        "type": "comment",
        "z": "a73be64d.7908d8",
        "name": "Checking DHT Sensor Data",
        "info": "",
        "x": 232.33333587646484,
        "y": 42.42361259460449,
        "wires": []
    },
    {
        "id": "cb8ac2e3.aeb77",
        "type": "template",
        "z": "da06acb9.3e181",
        "name": "Alert msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Soft Water {{payload}}",
        "output": "str",
        "x": 608.340259552002,
        "y": 340.2083549499512,
        "wires": [
            [
                "fb77dc76.bb97"
            ]
        ]
    },
    {
        "id": "3a12bffa.a4c83",
        "type": "template",
        "z": "da06acb9.3e181",
        "name": "Alert msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Slightly Hard Water {{payload}}",
        "output": "str",
        "x": 607.3264122009277,
        "y": 376.1944942474365,
        "wires": [
            [
                "d2ca400b.833d7"
            ]
        ]
    },
    {
        "id": "d6fa284e.ed60f8",
        "type": "template",
        "z": "da06acb9.3e181",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Hard Water {{payload}}",
        "output": "str",
        "x": 607.3264198303223,
        "y": 412.208438873291,
        "wires": [
            [
                "c7e0554c.5756d8"
            ]
        ]
    },
    {
        "id": "fb77dc76.bb97",
        "type": "ui_toast",
        "z": "da06acb9.3e181",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 828.3368225097656,
        "y": 340.25002098083496,
        "wires": []
    },
    {
        "id": "d2ca400b.833d7",
        "type": "ui_toast",
        "z": "da06acb9.3e181",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 828.3298683166504,
        "y": 378.24307918548584,
        "wires": []
    },
    {
        "id": "c7e0554c.5756d8",
        "type": "ui_toast",
        "z": "da06acb9.3e181",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 830.3403244018555,
        "y": 414.24662017822266,
        "wires": []
    },
    {
        "id": "7f69c472.839bcc",
        "type": "ui_switch",
        "z": "da06acb9.3e181",
        "name": "",
        "label": "Start/Stop",
        "tooltip": "",
        "group": "b14f6551.e76cd8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 283.3333854675293,
        "y": 87.27778434753418,
        "wires": [
            [
                "2c8c6ff4.805de"
            ]
        ]
    },
    {
        "id": "59ead77c.1e22e8",
        "type": "template",
        "z": "a73be64d.7908d8",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Humidity Detected {{payload.d.humidity}}",
        "output": "str",
        "x": 674.3402404785156,
        "y": 425.54173278808594,
        "wires": [
            [
                "cb2f0f49.ee856"
            ]
        ]
    },
    {
        "id": "cb2f0f49.ee856",
        "type": "ui_toast",
        "z": "a73be64d.7908d8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 864.3333549499512,
        "y": 426.02086448669434,
        "wires": []
    },
    {
        "id": "7deb0fb5.9f0a9",
        "type": "switch",
        "z": "a73be64d.7908d8",
        "name": "Warn on High Humidity",
        "property": "payload.d.humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "65",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 439.34031677246094,
        "y": 425.02432918548584,
        "wires": [
            [
                "59ead77c.1e22e8"
            ]
        ]
    },
    {
        "id": "d278bfd.05a2b4",
        "type": "debug",
        "z": "5e3e89c2.7ebf18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 784.9999771118164,
        "y": 157,
        "wires": []
    },
    {
        "id": "a59cb5d2.1a1058",
        "type": "function",
        "z": "5e3e89c2.7ebf18",
        "name": "Create a Chart Array for Chart.js",
        "func": "var bar={};\nbar.labels = [\"20:30:31 Mon\",\"20:30:32 Tue\",\"20:30:33 Wed\",\"20:30:34 Thur\",\"20:30:35 Fri\",\"20:30:36 Sat\",\"20:30:37 Sun\"];\nbar.series =['January','February','March','April','May', 'June','July','August','September','October','November','December'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [33, 44, 27, 25, 19, 47, 38],\n    [40, 48, 40, 19, 26, 27, 45],\n    [38, 36, 20, 50, 45, 50, 20],\n    [28, 30, 43, 29, 19, 30, 50],\n    [23, 49, 37, 25, 29, 47, 38],\n    [30, 38, 45, 19, 26, 19, 31],\n    [38, 25, 30, 49, 45, 50, 44],\n    [28, 30, 43, 39, 19, 39, 19],\n    [31, 18, 21, 25, 22, 47, 38],\n    [40, 22, 18, 19, 36, 28, 40],\n    [18, 21, 20, 49, 45, 50, 23],\n    [28, 30, 46, 29, 34, 30, 30]\n  ];\nreturn {payload:[bar]};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470.0000686645508,
        "y": 99.00000286102295,
        "wires": [
            [
                "d278bfd.05a2b4",
                "2e7243be.689b2c"
            ]
        ]
    },
    {
        "id": "638091f9.a2c5b",
        "type": "ui_button",
        "z": "5e3e89c2.7ebf18",
        "name": "",
        "group": "d05a3487.8abcd8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load ESP8266 DHT Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 165,
        "y": 100.00000381469727,
        "wires": [
            [
                "a59cb5d2.1a1058"
            ]
        ]
    },
    {
        "id": "f05fc4c6.39c218",
        "type": "comment",
        "z": "5e3e89c2.7ebf18",
        "name": "http request technique",
        "info": "",
        "x": 160,
        "y": 940,
        "wires": []
    },
    {
        "id": "d64f6c8b.4a915",
        "type": "function",
        "z": "5e3e89c2.7ebf18",
        "name": "Set up Search Parameters",
        "func": "//var VCAP = JSON.parse(context.global.process.env.VCAP_SERVICES);\n//var cloudant = VCAP.cloudantNoSQLDB[0].credentials.url;\nvar cloudant =\"https://6f66f491-b57e-43b6-b1f3-437828f407bc-bluemix:2207a24ad26ab3a12f4eebcfa028d1afc10f1fec4c967344b364dd6b2303bc9c@6f66f491-b57e-43b6-b1f3-437828f407bc-bluemix.cloudant.com\"\n\nvar date = msg.payload;\n\nmsg.count=0;\n\nmsg.query='/uhc2jan2018/_design/byField/_search/timestamp?q=' + date + event + device + '&sort=\"ts\"&include_docs=true&limit=200';\nmsg.query='/uhcnuggets03012019/_design/byField/_search/timestamp?q=' + date + event + device + '&sort=\"ts\"&include_docs=true&limit=200';\n\nmsg.url = cloudant + msg.query\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6522a41.7ed035c",
        "type": "change",
        "z": "5e3e89c2.7ebf18",
        "name": "Query Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"query\":\"OrderId:'1801'\",\"limit\":100}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "29697bf3.bf40e4"
            ]
        ]
    },
    {
        "id": "29697bf3.bf40e4",
        "type": "cloudant in",
        "z": "5e3e89c2.7ebf18",
        "name": "by Index of pos-paid-testdec17",
        "cloudant": "b5b14b87.e44bb8",
        "database": "pos-paid-testdec17",
        "service": "_ext_",
        "search": "_idx_",
        "design": "QueueName",
        "index": "QueueName",
        "x": 550,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "3340a439.c4838c",
        "type": "inject",
        "z": "5e3e89c2.7ebf18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "6522a41.7ed035c"
            ]
        ]
    },
    {
        "id": "b0c4aea6.0fdfc",
        "type": "comment",
        "z": "5e3e89c2.7ebf18",
        "name": "Historical Chart for Temperature Data",
        "info": "",
        "x": 210.32989501953125,
        "y": 40.756940841674805,
        "wires": []
    },
    {
        "id": "2e7243be.689b2c",
        "type": "ui_chart",
        "z": "5e3e89c2.7ebf18",
        "name": "",
        "group": "d05a3487.8abcd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historical Temperature Chart",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 826.3334045410156,
        "y": 67.93750190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "280ac16f.29defe",
        "type": "function",
        "z": "da06acb9.3e181",
        "name": "Random #s",
        "func": "msg.payload = Math.round(Math.random()*14);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 303.3264923095703,
        "y": 485.47247791290283,
        "wires": [
            [
                "45bf217b.0778a"
            ]
        ]
    },
    {
        "id": "45bf217b.0778a",
        "type": "ui_gauge",
        "z": "da06acb9.3e181",
        "name": "",
        "group": "8a0bc265.f324d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH Gauge",
        "label": "pH",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b324",
            "#e2e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 504.3369445800781,
        "y": 484.05920219421387,
        "wires": []
    },
    {
        "id": "5def895d.9f1d38",
        "type": "function",
        "z": "da06acb9.3e181",
        "name": "Random #s",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 303.3368911743164,
        "y": 529.2500133514404,
        "wires": [
            [
                "320a55ab.45d2ba"
            ]
        ]
    },
    {
        "id": "320a55ab.45d2ba",
        "type": "ui_gauge",
        "z": "da06acb9.3e181",
        "name": "",
        "group": "8a0bc265.f324d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Turbidity Gauge",
        "label": "ntu",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b300ad",
            "#0f00e6",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 526.3265113830566,
        "y": 531.2917079925537,
        "wires": []
    },
    {
        "id": "fcbee59f.562da8",
        "type": "inject",
        "z": "da06acb9.3e181",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "x": 95.32986450195312,
        "y": 499.52442836761475,
        "wires": [
            [
                "280ac16f.29defe",
                "5def895d.9f1d38"
            ]
        ]
    },
    {
        "id": "a2a6f308.6a4c",
        "type": "ui_template",
        "z": "da06acb9.3e181",
        "group": "b14f6551.e76cd8",
        "name": "Ranges",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<font size='4'face='arial'>\n<i><b>\n<p>Ranges</p>\n<font size='3'face='arial'color='#036'>\n<p>0-70 -Very Soft Water</p>\n<p>70-150 -Soft Water</p>\n<p>150-250 -Slightly Hard Water</p>\n<p>250-320 -Very Hard Water</p>\n</i></b>\n</font>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 345.0000305175781,
        "y": 284.00001525878906,
        "wires": [
            []
        ]
    },
    {
        "id": "8d2a52f3.d1442",
        "type": "comment",
        "z": "da06acb9.3e181",
        "name": "Displaying pH and Turbidity Values",
        "info": "",
        "x": 145,
        "y": 442.87158012390137,
        "wires": []
    }
]
